<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/spring.log}}"/>
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%X{correlationId:-},%X{traceId:-},%X{spanId:-}] - %msg%n"/>
    <springProperty scope="context" name="serviceName" source="spring.application.name" defaultValue="api-gateway"/>
    <springProperty scope="context" name="environmentName" source="ENVIRONMENT" defaultValue="prod"/>

    <springProfile name="!prod">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${LOG_PATTERN}</pattern>
                <charset>UTF-8</charset>
            </encoder>
        </appender>
    </springProfile>

    <springProfile name="!local">
        <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <customFields>{"service":"${serviceName}","environment":"${environmentName}"}</customFields>
                <fieldNames>
                    <timestamp>timestamp</timestamp>
                    <level>severity</level>
                    <levelValue>level_value</levelValue>
                    <loggerName>logger</loggerName>
                    <threadName>thread</threadName>
                    <message>message</message>
                </fieldNames>
            </encoder>
        </appender>
    </springProfile>

    <springProfile name="!prod">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="!local">
        <root level="INFO">
            <appender-ref ref="JSON_CONSOLE"/>
        </root>
    </springProfile>

    <logger name="com.jagapathi.pharmacy.gateway" level="DEBUG"/>
    <logger name="org.springframework.cloud.gateway" level="INFO"/>
    <logger name="org.springframework.security" level="INFO"/>
</configuration>
